<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Admin – Users</title>

  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/sidebar.css}">
  <link rel="stylesheet" th:href="@{/css/admin_users.css}">

</head>

<body>

<header th:replace="admin/fragments/admin_header :: adminHeader(${user})"></header>
<aside th:replace="admin/fragments/admin_sidebar :: adminSidebar"></aside>

<div class="main-content-padding">
  <div class="settings-card" style="grid-template-columns: 1fr;">

    <h2 style="margin-bottom:24px;">Users</h2>

    <div class="table-wrapper">
      <table>
        <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th class="status-col">Activated</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="u : ${users}">
          <td th:text="${u.taiKhoan.tenDangNhap}"></td>
          <td th:text="${u.hoTen}"></td>
          <td class="status-col">
        <span th:class="${u.taiKhoan.trangThaiKichHoat
            ? 'status-true'
            : 'status-false'}"
              th:text="${u.taiKhoan.trangThaiKichHoat}">
        </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</body>
</html>
