<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Admin – Users</title>

  <link rel="stylesheet" th:href="@{/css/student/fragments/header.css}">
  <link rel="stylesheet" th:href="@{/css/admin/fragments/sidebar.css}">
  <link rel="stylesheet" th:href="@{/css/admin/user_management/admin_users.css}">

</head>

<body>

<header th:replace="~{admin/fragments/admin_header :: adminHeader(${user})}"></header>
<aside th:replace="~{admin/fragments/admin_sidebar :: adminSidebar}"></aside>

<div class="main-content-padding">
  <div class="settings-card" style="grid-template-columns: 1fr;">

    <h2 style="margin-bottom:24px;">Users</h2>

    <div class="table-wrapper">
      <table>
        <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th class="tb-middle">Status</th>
          <th class="status-col">Action</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="u : ${users}">
          <td th:text="${u.taiKhoan.tenDangNhap}"></td>
          <td th:text="${u.hoTen}"></td>
          <td class="td-middle" th:text="${u.taiKhoan.isActive() ? 'Active' : 'Inactive'}"></td>

          <td class="action-col">
            <form th:action="@{/admin/users/toggle/{id}(id=${u.idDoiTuong})}"
                  method="post">
              <button type="submit"
                      class="btn"
                      th:classappend="${u.taiKhoan.isActive()}
                ? ' btn-disable'
                : ' btn-active'"
                          th:text="${u.taiKhoan.isActive()
                ? 'Disable account'
                : 'Enable account'}">
              </button>

            </form>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</body>
</html>
