@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap");

* {
    font-family: "Inria Sans", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background: url("../../../images/BackGround.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.page-container {
    margin-top: 70px;
    padding: 10px 10px;
    max-height: calc(100% - 70px);
    color: white;
}

h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.meta {
    opacity: .75;
    /*margin-bottom: 18px;*/
}

.lesson-card {
    background: rgba(255,255,255,0.08);
    padding: 22px;
    border-radius: 14px;
}

.lesson-card .content {
    white-space: pre-wrap;
    line-height: 1.6;
}

.cover-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover-wrapper img.cover-default {
    object-fit: contain;
    padding: 18px;
    background: rgba(255,255,255,0.04);
}

.img-cover {
    display: block;
    width: 100%;
    max-width: calc(100% - 20);
    max-height: 300px;
    margin: 24px auto 28px;
    object-fit: cover;
    border-radius: 18px;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 12px 28px rgba(0,0,0,0.35);
}

.img-cover.cover-default {
    object-fit: contain;
    padding: 22px;
    background: rgba(255,255,255,0.08);
}

.page-container::-webkit-scrollbar {
    width: 8px;
}
.page-container::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.3);
    border-radius: 6px;
}
.page-container::-webkit-scrollbar-track {
    background: transparent;
}
