<!--<canvas id="chart"></canvas>-->

<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<!--<script th:inline="javascript">-->
<!--    const data = [[${stats}]];-->

<!--    new Chart(document.getElementById("chart"), {-->
<!--        type: 'bar',-->
<!--        data: {-->
<!--            labels: data.map(d => d.courseName),-->
<!--            datasets: [{-->
<!--                data: data.map(d => d.count)-->
<!--            }]-->
<!--        }-->
<!--    });-->
<!--</script>-->
