<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">

</head>

<body>

<section id="lessons"
         class="tab-panel"
         th:fragment="lessons(lessons, tienDo)">

  <h2>Lessons</h2>

  <div class="lesson-list">
    <a class="lesson-item"
       th:each="l : ${lessons}"
       th:classappend="
             ${tienDo != null and tienDo.baiHocDaHoanThanhIds.contains(l.idBaiHoc)}
                ? 'done' :
             (${tienDo != null and tienDo.baiHocHienTai != null
                and tienDo.baiHocHienTai.idBaiHoc == l.idBaiHoc}
                ? 'current' : '')
           "
       th:href="@{'/lesson/' + ${l.idBaiHoc}}">

      <div class="lesson-left">
        <div class="lesson-type" th:text="${l.thuTu}"></div>
        <div>
          <div class="lesson-title" th:text="${l.tieuDeBaiHoc}"></div>
          <div class="lesson-desc" th:text="${l.moTaBaiHoc}"></div>
        </div>
      </div>

      <div class="lesson-right">
        <img class="lesson-icon"
             th:if="${l.loai == 1}"
             th:src="@{/images/theory.png}"
             alt="Theory"/>

        <img class="lesson-icon"
             th:if="${l.loai == 2}"
             th:src="@{/images/quiz.png}"
             alt="Quiz"/>

        <img class="lesson-icon"
             th:if="${l.loai == 3}"
             th:src="@{/images/video.png}"
             alt="Video"/>

        <img class="lesson-icon"
             th:if="${l.loai == 4}"
             th:src="@{/images/code.png}"
             alt="Code Practice"/>
      </div>
    </a>
  </div>
</section>
</body>
</html>
