<div th:fragment="avatarPopup(user, loggedIn)"
     th:if="${loggedIn}"
     id="avatarPopup"
     class="avatar-popup hidden">

  <div class="avatar-popup-header">
    <img class="avatar-popup-img"
         th:src="@{${user.avatar != null ? user.avatar : '/images/avatar_user_default.png'}(v=${#dates.createNow().getTime()})}"
         alt="User avatar">
  </div>

  <div class="avatar-popup-info">
    <div class="avatar-popup-name" th:text="${user.hoTen}">Full Name</div>
    <div class="avatar-popup-email" th:text="${user.email}">email@example.com</div>
  </div>

  <a class="avatar-popup-btn manage" th:href="@{/customer/account-setting}">
    Manage your account
  </a>

  <a class="avatar-popup-btn change" th:href="@{/customer/change-password}">
    Change password
  </a>

  <a class="avatar-popup-logout" th:href="@{/login}">
    Log out
  </a>

</div>
