<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" th:href="@{/css/sidebar.css}">
  <title>Sidebar</title>
</head>

<body>

<aside th:fragment="sidebar" id="sidebar" class="sidebar">
  <ul class="menu-list">

    <li class="menu-title has-sub open">
      <a href="#" class="submenu-toggle">
        <img src="/images/icon_account.png" class="menu-icon">
        <span class="menu-text">Account</span>
        <span class="submenu-arrow">▲</span>
      </a>

      <ul class="submenu">
        <li class="submenu-item active">
          <a href="/customer/account-setting">Profile Info</a>
        </li>

        <li class="submenu-item">
          <a href="#">My Courses</a>
        </li>
      </ul>
    </li>

    <li class="menu-title has-sub">
      <a href="#" class="submenu-toggle">
        <img src="/images/icon_overview.png" class="menu-icon">
        <span class="menu-text">Overview</span>
        <span class="submenu-arrow">▲</span>
      </a>

      <ul class="submenu">
        <li class="submenu-item"><a href="#">Courses</a></li>
        <li class="submenu-item"><a href="#">Blogs</a></li>
      </ul>
    </li>

    <li class="menu-title has-sub">
      <a href="#" class="submenu-toggle">
        <img src="/images/icon_tools.png" class="menu-icon">
        <span class="menu-text">Tools</span>
        <span class="submenu-arrow">▲</span>
      </a>

      <ul class="submenu">
        <li class="submenu-item active">
          <a href="/customer/chatbot">Chat bot</a>
        </li>
      </ul>
    </li>

  </ul>

  <div class="toggle-container">
    <button id="toggleSidebarBtn" class="toggle-btn"></button>
  </div>

</aside>

<script th:src="@{/js/sidebar.js}"></script>

</body>
</html>
