<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" th:href="@{/css/sidebar.css}">
  <title>Sidebar</title>
</head>

<body>

<aside th:fragment="sidebar" id="sidebar" class="sidebar">

  <ul class="menu-list">

    <!-- ACCOUNT -->
    <li class="menu-title has-sub"
        th:classappend="${activeMenu == 'profile' or activeMenu == 'mycourses'} ? ' open'">

      <a href="#" class="submenu-toggle">
        <img src="/images/icon_account.png" class="menu-icon">
        <span class="menu-text">Account</span>
        <span class="submenu-arrow">▲</span>
      </a>

      <ul class="submenu">
        <li class="submenu-item"
            th:classappend="${activeMenu == 'profile'} ? ' active'">
          <a th:href="@{/customer/account-setting}">Profile Info</a>
        </li>

        <li class="submenu-item"
            th:classappend="${activeMenu == 'mycourses'} ? ' active'">
          <a th:href="@{/my-courses}">My Courses</a>
        </li>
      </ul>
    </li>

    <!-- TOOLS -->
    <li class="menu-title has-sub"
        th:classappend="${activeMenu == 'chatbot'} ? ' open'">

      <a href="#" class="submenu-toggle">
        <img src="/images/icon_tools.png" class="menu-icon">
        <span class="menu-text">Tools</span>
        <span class="submenu-arrow">▲</span>
      </a>

      <ul class="submenu">
        <li class="submenu-item"
            th:classappend="${activeMenu == 'chatbot'} ? ' active'">
          <a th:href="@{/customer/chatbot}">Chat bot</a>
        </li>
      </ul>
    </li>

  </ul>

  <div class="toggle-container">
    <button id="toggleSidebarBtn" class="toggle-btn"></button>
  </div>

</aside>

<script th:src="@{/js/sidebar.js}"></script>

</body>
</html>
