.admin-layout {
    display: flex;
}

.admin-sidebar {
    width: 220px;
    background: #0f172a;
}

.admin-sidebar a {
    display: block;
    padding: 12px;
    color: white;
}

main {
    flex: 1;
    padding: 20px;
}
