@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap");

* {
    font-family: "Inria Sans", sans-serif;
}

html, body {
    height: 100%;
}

body {
    background: url("../images/BackGround.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-wrapper {
    max-width: 1000px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 40px;
}

/* LEFT */
.checkout-left h2 {
    margin: 20px 0;
}

.back-link {
    color: #bbb;
    text-decoration: none;
    font-size: 14px;
}

.payment-method {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px;
    border: 2px solid #2a2a2a;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 12px;
    transition: all 0.25s ease;
    background: #111;
}

.payment-method img {
    height: 32px;
}

.payment-method:hover {
    border-color: #ffffff;
}

.payment-method.active {
    border-color: #ffffff;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}

.secure-text {
    margin-top: 14px;
    font-size: 14px;
    opacity: .8;
}

/* RIGHT */
.checkout-right {
    background: rgba(0,0,0,0.55);
    border-radius: 14px;
    padding: 26px;
    width: 350px;
}

.checkout-right h3 {
    margin-bottom: 18px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.muted {
    font-size: 13px;
    opacity: .7;
}

.divider {
    height: 1px;
    background: rgba(255,255,255,0.1);
    margin: 18px 0;
}

.order-total {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.btn-primary {
    background: #0d47a1;
    border: none;
    padding: 12px;
    color: white;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
}

.btn-primary.full {
    width: 100%;
}

.cancel-link {
    display: block;
    margin-top: 14px;
    text-align: center;
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
}
