<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${blog.tieuDeBaiBlog}"></title>
    <link rel="stylesheet" th:href="@{/css/student/blogs/blog_detail.css}">
</head>

<body>

<header th:replace="fragments/header :: header(
    loggedIn=${loggedIn}, user=${user})"></header>

<div class="page-container">

    <h1 th:text="${blog.tieuDeBaiBlog}"></h1>

    <div class="meta">
        <span th:text="${blog.tacGia.hoTen}"></span> •
        <span th:text="${#temporals.format(
            blog.thoiGianDangBai,'dd/MM/yyyy')}"></span>
    </div>

    <img class="img-cover"
         th:src="${#strings.isEmpty(blog.anhBiaBaiBlog)
            ? '/images/cover_placeholder.png'
            : blog.anhBiaBaiBlog}"
         alt="Blog cover">

    <!-- giống lesson theory -->
    <section class="lesson-card">
        <div class="content"
             th:text="${blog.noiDungBaiBlog}">
        </div>
    </section>

</div>

<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/blogs.js}"></script>

</body>
</html>
