<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blogs - Codemy</title>
    <link rel="stylesheet" th:href="@{/css/student/blogs/blog.css}">
</head>

<body>

<header th:replace="fragments/header :: header(
    loggedIn=${loggedIn}, user=${user})"></header>

<div class="page-container">
        <div class="lesson-list">
            <a class="lesson-item"
               th:each="b : ${blogs}"
               th:href="@{'/blogs/' + ${b.idBaiBlog}}">

                <div class="blog-left">
                    <div class="cover-wrapper" id="coverClickArea">
                        <img id="coverPreview"
                             th:src="${#strings.isEmpty(b.anhBiaBaiBlog)
                            ? '/images/cover_placeholder.png'
                            : b.anhBiaBaiBlog}"
                             th:classappend="${#strings.isEmpty(b.anhBiaBaiBlog) ? ' cover-default' : ''}"
                             alt="Cover Image">
                    </div>
                </div>

                <div class="blog-right">
                    <div class="blog-title"
                         th:text="${b.tieuDeBaiBlog}">
                    </div>

                    <div class="blog-meta"
                         th:text="${#temporals.format(
                             b.thoiGianDangBai,'dd/MM/yyyy')} +
                             ' • ' + ${b.tacGia.hoTen}">
                    </div>
                </div>
            </a>
        </div>
</div>

<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/blogs.js}"></script>

</body>
</html>
