<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text="${status} + ' - That’s an error.'">Error</title>
  <link rel="stylesheet" th:href="@{/css/error.css}">
</head>

<body>
<div class="container">

  <div class="content">
    <h1>
      <span class="logo">Oops</span>.
      <span th:text="${status}">500</span> - Something went wrong.
    </h1>

    <p class="main-msg">
      <span th:text="${error}">An unexpected error occurred.</span>
    </p>

    <p class="note">
      We're truly sorry — this issue shouldn't have happened.
      <span class="muted">Please don't retry the request.</span>
    </p>

    <!-- BACK LINK -->
    <div class="back-home">
      <a href="/courses">Back to Home</a>
    </div>
  </div>

  <div class="robot">
    <img src="/images/robot_broken.png" alt="Broken robot">
  </div>

</div>
</body>
</html>
