@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap");

* {
    font-family: "Inria Sans", sans-serif;
    font-size: 1rem;
}

html, body {
    margin: 0;
    padding: 0;
    background: url("../../../images/BackGround.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.form-card {
    margin-left: 180px;
    margin-top: 70px;
    width: calc(100% - 180px);
    height: calc(100% - 70px);
    padding: 24px;
    border-radius: 18px;
    background: rgba(0,0,0,0.35);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255,255,255,0.15);
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: 700;
}

input, textarea, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    background: rgba(0,0,0,0.4);
    color: #fff;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.form-actions {
    display: flex;
    gap: 14px;
}

.btn-save {
    padding: 10px 18px;
    border-radius: 10px;
    background: rgba(46,204,113,.9);
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.btn-cancel {
    padding: 10px 18px;
    border-radius: 10px;
    background: rgba(255,255,255,.15);
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-group {
    flex: 1;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background: rgba(0,0,0,0.45)
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E")
    no-repeat right 14px center;

    background-size: 18px;
    padding-right: 42px;
}

select option {
    background: #1e1e1e;
    color: #fff;
}

select:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.9);
}

.form-card::-webkit-scrollbar {
    width: 8px;
}
.form-card::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.3);
    border-radius: 6px;
}
.form-card::-webkit-scrollbar-track {
    background: transparent;
}

textarea::-webkit-scrollbar {
    width: 8px;
}
textarea::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.3);
    border-radius: 6px;
}
textarea::-webkit-scrollbar-track {
    background: transparent;
}

/* For theory */
.lesson-fragment h2 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 12px;
}
